@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "tripnexus-light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #0284c7;
  --color-secondary: #0f172a;
  --color-accent: #f59e0b;

  --color-base-100: #ffffff;
  --color-base-200: #f1f5f9;
  --color-base-300: #cbd5e1;
  --color-base-content: #0f172a; /* TEXT COLOR FIX */

  --rounded-box: 1.5rem;
  --rounded-btn: 2rem;
  --rounded-badge: 1.5rem;
}

@plugin "daisyui/theme" {
  name: "tripnexus-dark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #38bdf8;
  --color-secondary: #f8fafc;
  --color-accent: #fbbf24;

  --color-base-100: #020617;
  --color-base-200: #0f172a;
  --color-base-300: #1e293b;
  --color-base-content: #f8fafc; /* TEXT COLOR FIX */

  --rounded-box: 1.5rem;
  --rounded-btn: 2rem;
  --rounded-badge: 1.5rem;
}